<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569950951568-sjlqhnsncmhtu27ki8gai9lg6a75ncp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569950951568-sjlqhnsncmhtu27ki8gai9lg6a75ncp1</string>
	<key>API_KEY</key>
	<string>AIzaSyB53g7eNyB3r383KG7x-8uonib3SEYhSF0</string>
	<key>GCM_SENDER_ID</key>
	<string>569950951568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rosehulman.yuans.Headlight-Controller</string>
	<key>PROJECT_ID</key>
	<string>led-headlight-controller</string>
	<key>STORAGE_BUCKET</key>
	<string>led-headlight-controller.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569950951568:ios:ffcca497eb52bc0335a015</string>
</dict>
</plist>